// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

#define MIRYOKU_KLUDGE_TWOHANDCOMBOS_TERM 50
#define MIRYOKU_KLUDGE_TWOHANDCOMBOS_MACRO(LAYER, POSITION, BINDING) \
bottomrowcombos_ ## LAYER ## _ ## POSITION { \
  layers = <LAYER>; \
  key-positions = <MIRYOKU_KLUDGE_TWOHANDCOMBOS_ ## POSITION>; \
  bindings = <BINDING>; \
  timeout-ms = <MIRYOKU_KLUDGE_TWOHANDCOMBOS_TERM>; \
};

/ {
  combos {
    compatible = "zmk,combos";
#if defined (MIRYOKU_LAYERS_FLIP)
  #if defined (MIRYOKU_ALPHAS_AZERTY)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_BEAKL15)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_COLEMAK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_COLEMAKDHK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_DVORAK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_HALMAK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_WORKMAN)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_QWERTY)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_QWERTZ)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #else
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #endif
  #if defined (MIRYOKU_NAV_INVERTEDT)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_NAV_VI)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #else
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #endif
#else
  #if defined (MIRYOKU_ALPHAS_AZERTY)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_BEAKL15)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_COLEMAK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_COLEMAKDHK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_DVORAK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_HALMAK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_WORKMAN)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_QWERTY)
    MIRYOKU_KLUDGE_TWOHANDCOMBOS_MACRO(U_BASE, LOWERPINKIE, &kp UNDER)
    MIRYOKU_KLUDGE_TWOHANDCOMBOS_MACRO(U_BASE, MIDINDEX, &u_caps_word)
    MIRYOKU_KLUDGE_TWOHANDCOMBOS_MACRO(U_BASE, MIDMIDDLE, &kp ESC)
  #elif defined (MIRYOKU_ALPHAS_QWERTZ)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #else
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #endif
#endif
  };
};
